
STRINGTABLE DISCARDABLE
BEGIN
    IDS_FIRSTRUN1				"This appears to be the first time you run %s v%.20s.\n\n"
    IDS_FIRSTRUN2				"Please take some time to match the audio/video settings to your system capabilities and personal preferences. If you continue to use and/or distribute this software, you must agree to be bound by the terms of license agreement, which is always accessible via the about dialog.\n\n"
    IDS_FIRSTRUN3A				"Note that this is alpha quality software. As such, it likely will exhibit problems, including audio/video options not behaving correctly, the emulation of some games misses some features, and may exhibit stability problems. CAVEAT LECTOR!"
    IDS_FIRSTRUN3B				"Note that this is beta quality software. As such, it likely may be missing some features, or exhibit some problems with your system."

	IDS_CHEAT_NAME				"作弊名称"
	IDS_CHEAT_STATUS			"状态"

	IDS_INPUT_INPUT				"游戏输入"
	IDS_INPUT_MAPPING			"映射到"
	IDS_INPUT_STATE				"状态"
	IDS_INPUT_INP_PLAYER		"玩家 %i"
	IDS_INPUT_INP_KEYBOARD		"键盘"
	IDS_INPUT_INP_JOYSTICK		"手柄 %i"
	IDS_INPUT_INP_XARCADEL		"X-Arcade (左边)"
	IDS_INPUT_INP_XARCADER		"X-Arcade (右边)"
	IDS_INPUT_INP_HOTRODL		"Hot Rod (左边)"
	IDS_INPUT_INP_HOTRODR		"Hot Rod (右边)"
	IDS_INPUT_ANALOG_ABS		"全部"
	IDS_INPUT_ANALOG_AUTO		"自动回中"
	IDS_INPUT_ANALOG_NORMAL		"普通"

	IDS_DIP_GROUP				"跳线组"
	IDS_DIP_SETTING				"设定"

	IDS_INPSET_MOVENAME			"移动控制或按下键 %.100hs"
	IDS_INPSET_MOVE				"移动控制或按下键"
	IDS_INPSET_WAITING			"等待 %.80s 后释放..."

	IDS_MEMCARD_CREATE			"创建新的记忆卡"
	IDS_MEMCARD_SELECT			"选择新的记忆卡"

	IDS_PROGRESS_LOADING		"Loading %s..."
	IDS_PROGRESS_LOADING_ONLY	"Loading"

	IDS_ROMS_SELECT_DIR			"选择文件夹:"

	IDS_STATE_LOAD				"载入游戏进度"
	IDS_STATE_SAVE				"保存游戏进度"
	IDS_STATE_ACTIVESLOT		"存盘点 %d 已激活"
	IDS_STATE_LOADED			"游戏进度载入完毕"
	IDS_STATE_LOAD_ERROR		"读取错误"
	IDS_STATE_SAVED				"游戏进度保存完毕"
	IDS_STATE_SAVE_ERROR		"保存错误"

	IDS_DAT_GENERATE			"生成 %s.dat"

	IDS_NETPLAY_START			"*** 开始联机游戏: "
	IDS_NETPLAY_START_YOU		"*** 您是玩家 %1."
	IDS_NETPLAY_START_TOTAL		"共有 %i 位玩家."
	IDS_NETPLAY_DROP			"*** 玩家 %1i <%.32hs> 掉线了."
	IDS_NETPLAY_TOOMUCH			"文字太多"

	IDS_SOUND_NOVOLUME			"没有音量控制"
	IDS_SOUND_VOLUMESET			"音量 %03i %%"
	IDS_SOUND_MUTE				"静音"
	IDS_SOUND_MUTE_OFF			"声音恢复"

	IDS_DISK_REPLAY				"This input recording"
	IDS_DISK_THIS_REPLAY		"input recording."
	IDS_DISK_FILE_REPLAY		"%s Input Recording Files"
	IDS_DISK_STATE				"state file"
	IDS_DISK_THIS_STATE			"This state file"
	IDS_DISK_FILE_STATE			"%s State Files"
	IDS_DISK_FILE_PATCH			"%s Patch Files"
	IDS_DISK_SOUND				"sound recording"
	IDS_DISK_THIS_SOUND			"This sound recording"
	IDS_DISK_FILE_SOUND			"%s Sound Recording Files"
	IDS_DISK_FILE_CARD			"%s Memory Card Files"
	IDS_DISK_ALL_CARD			"All Memory Card Files"
	IDS_DISK_ALL_DAT			"All Dat Files"
	IDS_DISK_TEXT				"Text Files"

	IDS_DISK_SAVEREPORT			"Save system information report"
	
	IDS_GAMELANG_LOAD			"选择本地游戏列表"
	IDS_GAMELANG_EXPORT			"创建本地游戏列表翻译模板"
	
	IDS_ROMINFO_DIALOGTITLE		"Rom Information"
	IDS_ROMINFO_ROMS			"Rom Info"
	IDS_ROMINFO_SAMPLES			"Sample Info"
	IDS_ROMINFO_NAME			"Name"
	IDS_ROMINFO_SIZE			"Size (bytes)"
	IDS_ROMINFO_CRC32			"CRC32"
	IDS_ROMINFO_TYPE			"Type"
	IDS_ROMINFO_FLAGS			"Flags"
	IDS_ROMINFO_ESSENTIAL		"%s, Essential"
	IDS_ROMINFO_OPTIONAL		"%s, Optional"
	IDS_ROMINFO_PROGRAM			"%s, Program"
	IDS_ROMINFO_GRAPHICS		"%s, Graphics"
	IDS_ROMINFO_SOUND			"%s, Sound"
	IDS_ROMINFO_BIOS			"%s, BIOS"
	IDS_ROMINFO_NODUMP			"No Dump"
	
	IDS_PRESET_SAVED			"The preset file was saved to %s."
	
	IDS_LOCAL_GL_CREATE			"Create gamelist localisation template"
	IDS_LOCAL_GL_SELECT			"Select gamelist localisation template"
	IDS_LOCAL_GL_FILTER			"FB Alpha gamelist localisation templates"
	
	IDS_LOCAL_CREATE			"Create localisation template"
	IDS_LOCAL_SELECT			"Select localisation template"
	IDS_LOCAL_FILTER			"FB Alpha localisation templates"

	IDS_SEL_ZIPNAME				"文件"
	IDS_SEL_FULLNAME			"游戏"
	IDS_SEL_FILTERS				"Filters"
	IDS_SEL_HARDWARE			"Hardware"
	IDS_SEL_CAVE				"Cave"
	IDS_SEL_CPS1				"CPS-1"
	IDS_SEL_CPS2				"CPS-2"
	IDS_SEL_CPS3				"CPS-3"
	IDS_SEL_NEOGEO				"Neo Geo"
	IDS_SEL_PGM					"PGM"
	IDS_SEL_SETSTATUS			"显示%d/%d"
	
	IDS_MENU_0 					"&Arcade"
    IDS_MENU_1 					"&Other..."
    IDS_MENU_2 					"自定义伽玛值..."
    IDS_MENU_3 					"调整CPU速度..."
    IDS_MENU_4 					"Load state from active slot (no %d)\tF9"
    IDS_MENU_5 					"Save state to active slot (no %d)\tF10"
	IDS_MENU_6					"空白"
	
	IDS_NUMDIAL_NUM_FRAMES		"Number of Frames"
	IDS_NUMDIAL_FILTER_SHARP	"Select desired filter sharpness"
	
	IDS_SCANNING_ROMS			"正在扫描..."
	
	IDS_CHEAT_SEARCH_NEW		"New cheat search started"
	IDS_CHEAT_SEARCH_ADD_MATCH	"%i Addresses Matched"
	IDS_CHEAT_SEARCH_RESULTS	"Address %08X Value %02X"
	IDS_CHEAT_SEARCH_EXIT		"Cheat search exited"
	
	IDS_CLONE_OF				" (clone of %s"
	IDS_ROMS_FROM_1				", uses ROMs from %s"
	IDS_ROMS_FROM_2				"%suses ROMs from %s"
	IDS_BOARD_ROMS_FROM			"%suses board-ROMs from %s"
	IDS_SAMPLES_FROM			"%suses samples from %s"
	IDS_NUM_PLAYERS				"%s%i player%s"
	IDS_NUM_PLAYERS_MAX			"s max"
	IDS_HARDWARE_DESC			"%s (%s, %s hardware)"
	IDS_MVS_CARTRIDGE			"Neo Geo MVS Cartidge"
	IDS_HISCORES_SUPPORTED		"%shigh scores supported"
	IDS_CARTRIDGE				"cartridge"
	IDS_HARDWARE				"hardware"
	IDS_EMPTY					"Empty"
	IDS_UNIDENTIFIED_CD			"Unidentified CD"

	IDS_ERR_ERROR				"Error"
    IDS_ERR_WARNING				"Warning"
    IDS_ERR_INFORMATION			"Information"
    IDS_ERR_UNKNOWN				"Unknown"

	IDS_ERR_LOAD_OK				"The ROMset is OK."
	IDS_ERR_LOAD_PROBLEM		"The ROMset exhibits the following problems:"
	IDS_ERR_LOAD_NODATA			"No data was found, the game will not run!"
	IDS_ERR_LOAD_ESS_MISS		"essential data is missing, the game will not run!"
	IDS_ERR_LOAD_ESS_BAD		"essential data is invalid, the game might not run!"
	IDS_ERR_LOAD_DATA_MISS		"data is missing."
	IDS_ERR_LOAD_DATA_BAD		"data is invalid."
	IDS_ERR_LOAD_FOUND			"%.32hs was found (%.512s).\n"
	IDS_ERR_LOAD_NOTFOUND		"%.32hs was not found.\n"
	IDS_ERR_LOAD_INVALID		"The following ROMs are invalid:\n"
	IDS_ERR_LOAD_CRC			"%.32hs has a CRC of %.8X (correct is %.8X).\n"
	IDS_ERR_LOAD_SMALL			"%.32hs is %dk which is too small (correct is %dkB).\n"
	IDS_ERR_LOAD_LARGE			"%.32hs is %dk which is too large (correct is %dkB).\n"
	IDS_ERR_LOAD_DET_ESS		"essential "
	IDS_ERR_LOAD_DET_PRG		"program "
	IDS_ERR_LOAD_DET_BIOS		"BIOS "
	IDS_ERR_LOAD_DET_GRA		"graphics "
	IDS_ERR_LOAD_DET_SND		"sound "
	IDS_ERR_LOAD_DET_ROM		"ROM "
	IDS_ERR_LOAD_DISK			"Error reading %.32hs from %.512s"
	IDS_ERR_LOAD_DISK_CRC		"CRC mismatch reading %.32hs from %.512s"
	IDS_ERR_LOAD_REQUEST		"Error loading %.32hs, requested by %.128s.\nThe emulation will likely suffer problems."

	IDS_ERR_BURN_INIT			"There was a problem starting '%.128s'.\n"

	IDS_ERR_UI_NOSUPPORT		"%.32s is not supported by %.32s."
	IDS_ERR_UI_WINDOW			"Couldn't create main window."
	IDS_ERR_UI_MODULE			"Couldn't intialise '%s' module."
	IDS_ERR_UI_TRIPLE			"Couldn't create a triple buffer."
	IDS_ERR_UI_FULL_NOMODE		"No appropriate display mode supported. Please adjust your full-screen settings."
	IDS_ERR_UI_FULL_PROBLEM		"Problem setting '%dx%dx%dbpp (%dHz)' display mode"
	IDS_ERR_UI_FULL_CUSTRES		"\n\nThis is not a standard VGA resolution; please make sure it is supported by your video card."

	IDS_ERR_DISK_CREATE			"Error creating "
	IDS_ERR_DISK_LOAD			"Error loading "
	IDS_ERR_DISK_UNAVAIL		" is for an unavailable game."
	IDS_ERR_DISK_TOONEW			" does not work with this version of %s."
	IDS_ERR_DISK_TOOOLD			" requires a more recent version of %s, please upgrade."
	
	IDS_ERR_NO_NETPLAYDLL		"没有找到'kailleraclient.dll'."	
	IDS_ERR_NO_DRIVER_SELECTED	"No driver has been selected from the list."	
	IDS_ERR_NO_DRIVER_SEL_SLOT1	"No driver has been selected for slot 1."
	IDS_ERR_NON_WORKING			"This game isn't working. Load it anyway?"
	IDS_ERR_CDEMU_INI_FAIL		"Couldn't initialise CD emulation."
	
	IDS_ERR_LOCAL_FAIL_CONNECT	"Failed to connect to Internet"
	IDS_ERR_LOCAL_FAIL_OPEN_URL	"Failed to access FB Alpha website"
END
